In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from env import user, password, host
import warnings
warnings.filterwarnings('ignore')
from scipy import stats

from acquire import df

In [2]:
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import explained_variance_score

In [3]:
df.head()

   bedrooms  bathrooms  square_feet  tax_value  year_built  taxamount  fips
0         4          2         3633     296425        2005       6941  6037
1         3          4         1620     847770        2011      10244  6037
2         3          2         2077     646760        1926       7924  6037
3         0          0         1200       5328        1972         91  6037
4         0          0          171       6920        1973        255  6037

In [4]:
#Checking to see if the import worked, looks good

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
#Checking the data type

In [7]:
df_drop = df.drop(['year_built','fips','taxamount'],axis =1)

In [8]:
#Cutting unnecessary columns

In [9]:
df = df_drop.astype('int64')

In [10]:
#Changing the type

In [11]:
df.size

8560940

In [12]:
df.shape

(2140235, 4)

In [13]:
#Checking it's size

In [14]:
df.isnull().any()

bedrooms       False
bathrooms      False
square_feet    False
tax_value      False
dtype: bool

In [15]:
#Checking for any null data

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
bedrooms,2140235.0,3.301419,0.932600,0.0,3.0,3.0,4.0,25.0
bathrooms,2140235.0,2.186612,0.973504,0.0,2.0,2.0,3.0,32.0
square_feet,2140235.0,1863.193970,1221.754161,1.0,1258.0,1623.0,2208.0,952576.0
tax_value,2140235.0,460641.625164,677157.635675,22.0,189166.0,328296.0,534606.0,90188462.0

In [17]:
#Reviewing the stats

In [18]:
df = df[df['tax_value'] != 0]

In [19]:
#Removing anything that has a null value

In [20]:
df.head()

   bedrooms  bathrooms  square_feet  tax_value
0         4          2         3633     296425
1         3          4         1620     847770
2         3          2         2077     646760
3         0          0         1200       5328
4         0          0          171       6920

In [21]:
df.shape

(2140235, 4)

In [22]:
df['bathrooms'].max()

32